body {
  background-image: url("../images/background_photo.jpg");
  font-family: sans-serif;
  padding: 20px;
}
title, li, h1, p, h2{
  text-align: center;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 10em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(10,30,125);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo1{
  margin: 10 100 0 10;
}
.photo2{
  margin: 10 50 0 50;
}
.photo3{
  margin: 10 10 0 100;
}
.image{
  display: inline-block;
  width: 300px;
  heigh: 300px;
}
