body{
    margin: 60px auto;
    width: 70%;
}

a{
    text-decoration: none;
    color: #999;
}

a:hover{
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#menu{
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    position: fixed;
}

nav ul, footer ul {
    font-family: 'Alkalami', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#top{
    font-family: 'Alkalami', serif;
    padding-top: 10%;
}

title, h1, p, h2{
  text-align: center;
}

#photo{
  font-family: 'Alkalami', serif;
}

.icon{
  margin: 10%;
  display: inline-block;
}

.line2{ 
  display: inline-block;
    padding-left: 20%;
}

.img1, .img2, .img3, .img4{
  width: 350px;
  heigh: 350px;
}

.seeMore{
  width: 75px;
  heigh: 75px;
}

.line1{
  display: inline-block;
  padding-left: 20%;
}

.sns{
  display: inline-block;
}
.yt{
  width: 60px;
  heigh: 60px;
}

.github{
  width: 60px;
  heigh: 60px;
  margin-right: 0;
}

.insta{
  width: 70px;
  heigh: 70px;
}

.container{
  width: 80%;
  background-color: #ACD6FF;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

#socialMeiaLinks{
  font-size: 2em;
}

.email{
  font-size: 1em;
  text-align: center;
}
