body{
    margin: 60px auto;
    width: 70%;
}

a{
    text-decoration: none;
    color: #999;
}

a:hover{
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#menu{
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    background-color:#000093;
    width: 100%;
    heigh: 20px;
}

nav ul, footer ul {
    font-family: 'Alkalami', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-left: 10px;
}

#top{
    font-family: 'Alkalami', serif;
    padding-top: 10%;
}

title, h1, p, h2{
    text-align: center;
    font-family: 'Alkalami', serif;
}

#photo{
  font-family: 'Alkalami', serif;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  width: 360px;
  height: 360px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); 
}

.icon{
  margin: 10%;
  display: inline-block;
}

.line2{ 
  display: inline-block;
    padding-left: 10px;
}

.img1, .img2, .img3, .img4{
  width: 350px;
  heigh: 350px;
}

.seeMore{ 
  padding-left: 30px;
  width: 75px;
  heigh: 75px;
  padding-top: ;
}

.line1{
  display: inline-block;
  padding-left: 10px;
}

.yt{
  width: 50px;
  heigh: 50px;
}

.github{
  width: 50px;
  heigh: 50px;
}

.insta{
  width: 50px;
  heigh: 50px;
}

#sns{
  display: inline-block;
}

.email{
  font-size: 1em;
  text-align: center;
}
